name: Release 

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

  

      # # - name: Build
      # #   run: npm run build


      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          tag_name: ${{ github.run_number }}
          release_name: Release ${{ github.run_number }} 

      - name: Docker login
        uses: docker/login-action@v1
        with:
             username: ${{ secrets.DOCKERHUB_USERNAME }}
             password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      # - name: Extract PR number
      #   id: extract_pr_number
      #   run: echo "::set-output name=pr_number::$(echo $GITHUB_REF | awk -F/ '{print $3}')"
    
      - name: Docker build and tag
        run: |
          #  docker build -t karthickmuppilirajan/dockertag:${{ github.run_number }} -t karthickmuppilirajan/dockertag:pr${{ steps.extract_pr_number.outputs.pr_number }} .
          #  docker push karthickmuppilirajan/dockertag:${{ github.run_number }}
          #  docker push karthickmuppilirajan/dockertag:pr${{ steps.extract_pr_number.outputs.pr_number }}
          docker build -t karthickmuppilirajan/dockertag:${{github.run_number}} .
          docker push karthickmuppilirajan/dockertag:${{ github.run_number}}
       
          